In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np

#it is important that the arrangement of the currencies when training the model in the training script
#is the same with the currency arrangement here also, to avoid passing wrong data 
currency_list = ['USDCHF10080', 'GBPUSD10080', 'EURUSD10080', 'USDJPY10080', 'USDCAD10080', 'AUDUSD10080', 'NZDUSD10080',
                 'GBPCHF10080', 'EURCHF10080', 'CHFJPY10080', 'CADCHF10080', 'AUDCHF10080', 'NZDCHF10080', 'EURGBP10080',
                 'GBPJPY10080', 'GBPCAD10080', 'GBPAUD10080', 'EURJPY10080', 'EURCAD10080', 'EURAUD10080', 'EURNZD10080',
                'CADJPY10080', 'AUDJPY10080', 'NZDJPY10080', 'AUDCAD10080', 'NZDCAD10080', 'AUDNZD10080']

In [88]:
#get the last x timeframe from first currency(usdchf ) in currency list

#add names to columns in dataframe
headers = ['date_start','ignore', 'open', 'high', 'low', 'close', 'volume'  ]
recent_timeframes = pd.read_csv('recent_data/' + currency_list[0] + '.csv', names=headers  ) 
    
recent_timeframes = recent_timeframes['date_start'].values.tolist()# retrieve only the date_start column

first_ten_rows = slice(10)# used to create a slice object with 10 rows to use. check the python slice method

recent_timeframes = recent_timeframes[first_ten_rows]# slice object was passed to the list to grt the five members

recent_timeframes

['2021.08.22',
 '2021.08.15',
 '2021.08.08',
 '2021.08.01',
 '2021.07.25',
 '2021.07.18',
 '2021.07.11',
 '2021.07.04',
 '2021.06.27',
 '2021.06.20']

In [89]:
#loop through the whole currency and get the combine data for the needed row

combine_data_dataframe = pd.DataFrame(data={}, index = pd.Series(range(0,10)), )

# add the timeframe column to combined data
combine_data_dataframe['date_start'] = recent_timeframes


for x in currency_list :
    
    headers = ['date_start', 'ignore', x.replace('10080','') +'_open', x.replace('10080','') +'_high', x.replace('10080','')+'_low', x.replace('10080','')+'_close', x.replace('10080','') +'_volume'  ]
    current_currency_dataframe = pd.read_csv('recent_data/' + x + '.csv', names=headers  ) 
    
   
    
    #re-order columns in appropriate order and remove unneeded columns
    current_currency_dataframe = current_currency_dataframe[[x.replace('10080','') +'_volume',
                                                             x.replace('10080','') +'_volume',
                                                             x.replace('10080','') +'_volume',
                                                             x.replace('10080','') +'_volume',
                                                             x.replace('10080','') +'_volume',
                                                             x.replace('10080','') +'_volume',
                                                             
                                                             x.replace('10080','') +'_open',
                                                              x.replace('10080','') +'_open',
                                                              x.replace('10080','') +'_open',
                                                              x.replace('10080','') +'_open',
                                                              x.replace('10080','') +'_open',
                                                              x.replace('10080','') +'_open',
                                                             
                                                             x.replace('10080','') +'_high',
                                                              x.replace('10080','') +'_high',
                                                              x.replace('10080','') +'_high',
                                                              x.replace('10080','') +'_high',
                                                              x.replace('10080','') +'_high',
                                                              x.replace('10080','') +'_high',
                                                             
                                                             x.replace('10080','')+'_low', 
                                                               x.replace('10080','')+'_low', 
                                                               x.replace('10080','')+'_low', 
                                                               x.replace('10080','')+'_low', 
                                                               x.replace('10080','')+'_low', 
                                                               x.replace('10080','')+'_low', 
                                                             
                                                             x.replace('10080','')+'_close']]
    
    #print()
    #get only the top 10 columns
    current_currency_dataframe = current_currency_dataframe.head(10)   
    
    
    #add it to combine data_frame
    combine_data_dataframe = pd.concat([combine_data_dataframe, current_currency_dataframe], axis = 1 )  
    

combine_data_dataframe

,date_start,USDCHF_volume,USDCHF_volume,USDCHF_volume,USDCHF_volume,USDCHF_volume,USDCHF_volume,USDCHF_open,USDCHF_open,USDCHF_open,...,AUDNZD_high,AUDNZD_high,AUDNZD_high,AUDNZD_low,AUDNZD_low,AUDNZD_low,AUDNZD_low,AUDNZD_low,AUDNZD_low,AUDNZD_close
0,2021.08.22,150871,150871,150871,150871,150871,150871,0.91594,0.91594,0.91594,...,1.04702,1.04702,1.04702,1.04031,1.04031,1.04031,1.04031,1.04031,1.04031,1.04216
1,2021.08.15,143626,143626,143626,143626,143626,143626,0.91494,0.91494,0.91494,...,1.05392,1.05392,1.05392,1.04171,1.04171,1.04171,1.04171,1.04171,1.04171,1.04409
2,2021.08.08,128138,128138,128138,128138,128138,128138,0.91364,0.91364,0.91364,...,1.05096,1.05096,1.05096,1.04523,1.04523,1.04523,1.04523,1.04523,1.04523,1.04669
3,2021.08.01,154705,154705,154705,154705,154705,154705,0.90439,0.90439,0.90439,...,1.05647,1.05647,1.05647,1.04488,1.04488,1.04488,1.04488,1.04488,1.04488,1.04849
4,2021.07.25,182181,182181,182181,182181,182181,182181,0.91854,0.91854,0.91854,...,1.06061,1.06061,1.06061,1.05163,1.05163,1.05163,1.05163,1.05163,1.05163,1.05288
5,2021.07.18,196133,196133,196133,196133,196133,196133,0.91798,0.91798,0.91798,...,1.06126,1.06126,1.06126,1.05418,1.05418,1.05418,1.05418,1.05418,1.05418,1.05485
6,2021.07.11,188258,188258,188258,188258,188258,188258,0.91352,0.91352,0.91352,...,1.07383,1.07383,1.07383,1.05545,1.05545,1.05545,1.05545,1.05545,1.05545,1.05596
7,2021.07.04,211305,211305,211305,211305,211305,211305,0.91999,0.91999,0.91999,...,1.07269,1.07269,1.07269,1.06324,1.06324,1.06324,1.06324,1.06324,1.06324,1.06969
8,2021.06.27,217632,217632,217632,217632,217632,217632,0.91684,0.91684,0.91684,...,1.07642,1.07642,1.07642,1.06940,1.06940,1.06940,1.06940,1.06940,1.06940,1.07007
9,2021.06.20,216303,216303,216303,216303,216303,216303,0.92018,0.92018,0.92018,...,1.07985,1.07985,1.07985,1.07220,1.07220,1.07220,1.07220,1.07220,1.07220,1.07373

In [90]:
# save to excel sheet 
#combine_data_dataframe.to_excel("combine_top_10_rows_dataframe.xlsx")