In [48]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
#import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np
import time
from datetime import datetime

In [49]:
for root, dirs, files in os.walk("../", topdown=False):
    pass

print(len(dirs))

64

In [50]:
all_week_dataframes = []
max_rows = 0

for a in dirs:
    
    path = '../'+ a + '/files/maximaldraw_down_and_up.csv'
    
    if os.path.exists(path) == False:
    
        continue
    
    
    current_week_dataframe = pd.read_csv(path )
    
    current_dt_lenght = len(current_week_dataframe.index)
    
    if current_dt_lenght > max_rows :
        
        max_rows = current_dt_lenght
        
    
    current_week_data = {'week_path' : path, 'dataframe' : current_week_dataframe,  }
     
    all_week_dataframes.append(current_week_data)
    
    

    
        
print(max_rows)

1439

In [51]:
for b in all_week_dataframes:
    
    current_week_dataframe = b['dataframe'].iloc[: , :2]
    
     
    while len(current_week_dataframe.index) < max_rows:
        
        new_row = current_week_dataframe.tail(1)
        print(len(current_week_dataframe.index))
        current_week_dataframe.append(new_row)
        print(current_week_dataframe)

1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438

             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438
             timeframe  profit
0     2021.01.15 23:50 -1846.0
1     2021.01.15 23:45 -1781.0
2     2021.01.15 23:40 -1841.0
3     2021.01.15 23:35 -1989.0
4     2021.01.15 23:30 -1897.0
...                ...     ...
1433  2021.01.11 00:25  2418.0
1434  2021.01.11 00:20  2075.0
1435  2021.01.11 00:10  1925.0
1436  2021.01.11 00:05  1772.0
1437  2021.01.11 00:00   859.0

[1438 rows x 2 columns]
1438

KeyboardInterrupt: