In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
#import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np


currency_list = ['USDCHF1440',
                 'GBPUSD1440', 
                 'EURUSD1440', 'USDJPY1440', 'USDCAD1440', 'AUDUSD1440', 'NZDUSD1440',
                 'GBPCHF1440', 'EURCHF1440', 'CHFJPY1440', 'CADCHF1440', 'AUDCHF1440', 'NZDCHF1440', 'EURGBP1440',
                 'GBPJPY1440', 'GBPCAD1440', 'GBPAUD1440', 'EURJPY1440', 'EURCAD1440', 'EURAUD1440', 'EURNZD1440',
                'CADJPY1440', 'AUDJPY1440', 'NZDJPY1440', 'AUDCAD1440', 'NZDCAD1440', 'AUDNZD1440'
                ]

In [15]:
# #loops through all currency, identify timeframes not in nzdcad and save them in global_available_timeframes list

headers = ['date_start', 'ignore', 'open', 'high', 'low', 'close', 'volume'  ]

shortest_row_currency = pd.read_csv('recent_daily_data/' + 'NZDCAD1440' + '.csv', names=headers  ) 

#this reverses the rows so as to have the recent timeframe at the top
#shortest_row_currency = shortest_row_currency.sort_index(axis=0,ascending=False)



shortest_row_currency_timeframes = shortest_row_currency['date_start']



shortest_row_currency_timeframes = shortest_row_currency_timeframes.values.tolist()


global_unavailable_timeframes = []
for x in currency_list:
    
    
    current_currency_data = pd.read_csv('recent_daily_data/' + x + '.csv', names=headers  )  
    
    current_currency_data_timeframes = current_currency_data['date_start']
   
    current_currency_data_timeframes = current_currency_data_timeframes.values.tolist()
   
    for y in shortest_row_currency_timeframes:
        
            if y not in current_currency_data_timeframes :
                
                global_unavailable_timeframes.append(y)
                

# this get the unique time frames because time frames could have been duplicated from different currencies 
global_unavailable_timeframes = np.unique(global_unavailable_timeframes)   


print(len(global_unavailable_timeframes))   
print(len(shortest_row_currency_timeframes))

130
3633

In [16]:
# removing the globally unavailable timeframes from the shortest row currency

for x in global_unavailable_timeframes:
    shortest_row_currency_timeframes.remove(x)
    
globally_available_time_frame = shortest_row_currency_timeframes
print(len(globally_available_time_frame))

3503

In [17]:
# loop through all currency pairs, get the needed rows from them and assemble all rows to form a combine_data_dataframe

combine_data_dataframe = pd.DataFrame(data={}, index = pd.Series(range(0,len(globally_available_time_frame))), )

for x in currency_list :
    
    

    current_currency_data = pd.read_csv('recent_daily_data/' + x + '.csv', names=headers  ) 
    
    # this sort the rows, so as to have the most recent time frame at the top
    current_currency_data = current_currency_data.sort_index(axis=0,ascending=False)
   
    current_currency_volume = []
    
    current_currency_class = []
    
    q = 0

    for y in globally_available_time_frame:
            
        for index, row in current_currency_data.iterrows():
           
            
            if y  == row.date_start:            
                        
                #current_currency_volume.append(row.volume)            
                
                # condition when the curreny movement is a buy

                pips_corrector = 100000

                if x.endswith('jpy'):# use this to correct multiplier of jpy pairs
                    pips_corrector = 1000

                if row.open < row.close:

                    trend = 1


                    #classifying the risk level


                    if (row.open - row.low) == 0 : # no risk because open is equal to low

                        risk = 6

                    else : 

                        if (row.open - row.low)> (row.high - row.open):

                            risk = 1

                        if  (row.high - row.open) > (row.open - row.low):

                            risk = 2


                        if (row.high - row.open) /(row.open - row.low) >2 :

                            risk = 3

                        if (row.high - row.open) /(row.open - row.low) >4 :

                            risk = 4


                        if (row.high - row.open) /(row.open - row.low) >8 :

                            risk = 5

                        if (row.high - row.open) /(row.open - row.low) >16 :

                            risk = 6  

                    #classifying reward level

                    if (row.close - row.open)*pips_corrector > 0 :

                        reward = 1

                    if (row.close - row.open)*pips_corrector >200 :

                        reward = 2

                    if (row.close - row.open)*pips_corrector > 400 :

                        reward = 3


                    if (row.close - row.open)*pips_corrector > 600 :

                        reward = 4

                    if (row.close - row.open)*pips_corrector > 900 :

                        reward = 5


                    if (row.close - row.open)*pips_corrector > 1200 :

                        reward = 6  




                # this is for the condition when the movement is a sell
                else: 

                    trend = -1

                    #classifying the risk level


                    if (row.high - row.open) == 0 : # no risk because open is equal to high

                        risk = 6

                    else : 

                        if (row.high - row.open)> (row.open - row.low):

                            risk = 1

                        if  (row.open - row.low) > (row.high - row.open):

                            risk = 2


                        if (row.open - row.low) /(row.high - row.open) >2 :

                            risk = 3

                        if (row.open - row.low) /(row.high - row.open) >4 :

                            risk = 4

                        if (row.open - row.low) /(row.high - row.open) >8 :

                            risk = 5

                        if (row.open - row.low) /(row.high - row.open) >16 :

                            risk = 6 


                     #classifying reward level

                    if (row.open - row.close)*pips_corrector > 0 :

                        reward = 1

                    if (row.open - row.close)*pips_corrector > 200 :

                        reward = 2

                    if (row.open - row.close)*pips_corrector > 400 :

                        reward = 3        

                    if (row.open - row.close)*pips_corrector > 600 :

                        reward = 4    

                    if (row.open - row.close)*pips_corrector > 900 :

                        reward = 5 

                    if (row.open - row.close)*pips_corrector > 1200 :

                        reward = 6        
                break 
        current_currency_class.append(trend*risk*reward)
            
        

            #attach the classification score value to the dataframe and train a model with the data
            #print(index)
    #print(current_currency_class)

            #combine_data_dataframe[x+'_class'] = current_currency_class
    
    
            
                        

    # this function takes a list and returns with a list of 5 list that is the data for the previous row
    
    def add_5_columns(real_column) :
        
        current_currency_column_add_on = [real_column, [], [], [], [], []]
        
        g = 1 
        
        while g < 6:
            
            current_currency_column_add_on[g] = current_currency_column_add_on[g-1].copy()
            current_currency_column_add_on[g].pop(0)
            current_currency_column_add_on[g].append(0)    
            g = g+1
            
        current_currency_column_add_on.pop(0)
        return current_currency_column_add_on
            
            
           

    #combine_data_dataframe[ x +'_volume'] = current_currency_volume
    
    #volume_columns = add_5_columns(current_currency_volume)
    
    
    
    
    combine_data_dataframe[ x +'_class'] = current_currency_class
    
    #low_columns = add_5_columns(current_currency_low)
    
   
    
    
    
    #combine_data_dataframe[ x +'_close'] = current_currency_close
    
   




    
    print(x)

USDCHF1440
GBPUSD1440
EURUSD1440
USDJPY1440
USDCAD1440
AUDUSD1440
NZDUSD1440
GBPCHF1440
EURCHF1440
CHFJPY1440
CADCHF1440
AUDCHF1440
NZDCHF1440
EURGBP1440
GBPJPY1440
GBPCAD1440
GBPAUD1440
EURJPY1440
EURCAD1440
EURAUD1440
EURNZD1440
CADJPY1440
AUDJPY1440
NZDJPY1440
AUDCAD1440
NZDCAD1440
AUDNZD1440

In [18]:
#create and add the timeframe column to the combine_data_data_frame to be able to identify each rows

date_series = pd.Series(globally_available_time_frame)

# the code below convert it to panda date time object
date_series = pd.to_datetime(date_series)


#turning date_series to a data frame so as to be able to add it as the first column 
date_series_dataframe =  pd.DataFrame(data={}, index = pd.Series(range(0, len(globally_available_time_frame))), )
date_series_dataframe['date_start'] = date_series


    


#the two dataframes are combined along the y axis to form one dataframe with all information and date
combine_data_dataframe = pd.concat([ date_series_dataframe, combine_data_dataframe, ], axis=1)

combine_data_dataframe

,date_start,USDCHF1440_class,GBPUSD1440_class,EURUSD1440_class,USDJPY1440_class,USDCAD1440_class,AUDUSD1440_class,NZDUSD1440_class,GBPCHF1440_class,EURCHF1440_class,...,EURJPY1440_class,EURCAD1440_class,EURAUD1440_class,EURNZD1440_class,CADJPY1440_class,AUDJPY1440_class,NZDJPY1440_class,AUDCAD1440_class,NZDCAD1440_class,AUDNZD1440_class
0,2007-08-21,1,-16,-1,-18,30,-16,-4,-16,-4,...,-18,30,30,9,-24,-24,-24,-3,-2,-12
1,2007-08-22,-1,25,20,24,-6,12,10,30,25,...,24,8,-12,-12,24,24,24,16,18,-3
2,2007-08-23,3,20,3,36,-24,25,24,30,12,...,36,-30,-30,-36,36,36,36,12,-1,4
3,2007-08-24,-16,8,25,6,-2,8,8,-5,6,...,12,20,-2,-3,6,12,18,12,20,-2
4,2007-08-27,8,-2,-6,-18,2,-1,-12,6,-1,...,-18,1,-5,12,-18,-12,-30,6,-20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3498,2021-09-21,-8,3,3,-6,-3,-1,-4,-9,-12,...,-6,-3,6,6,-6,-6,-6,-6,-8,3
3499,2021-09-22,4,-6,-4,24,-8,5,4,-2,-1,...,24,-25,-16,-6,36,30,24,-2,-6,8
3500,2021-09-23,-2,30,18,30,-20,9,16,20,8,...,36,-12,-4,-12,36,24,30,-4,2,-3
3501,2021-09-24,2,-9,-3,24,-1,-6,-9,-4,-3,...,36,-2,9,20,12,-12,-12,-6,-12,8
3502,2021-09-27,6,-6,-6,-6,-6,6,6,-12,-6,...,-6,-2,-3,-10,2,-4,-36,8,-6,6

In [19]:
# copies the data frame so as to isolate the first 10 rows for prediction
combine_top_10_rows_dataframe = combine_data_dataframe.copy(deep=True)


combine_top_10_rows_dataframe = combine_top_10_rows_dataframe.head(25)

#saves the first 10 rows to excel

combine_top_10_rows_dataframe.to_excel("files/combine_top_10_rows_dataframe.xlsx")



combine_data_dataframe = combine_data_dataframe.head( len(globally_available_time_frame) - 5 )

combine_data_dataframe.to_excel("files/combine_data_dataframe.xlsx")