In [91]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np


currency_list = [
                  #'USDCHF1440',                 
              'GBPUSD1440',
                  #'EURUSD1440',
    #'USDJPY1440', 
    #'USDCAD1440', 
    #'AUDUSD1440',
    #'NZDUSD1440',
                  #'GBPCHF1440', 
    #'EURCHF1440', 
    #'CHFJPY1440',
    #'CADCHF1440', 
    #'AUDCHF1440', 
    #'NZDCHF1440', 
    #'EURGBP1440',
           #     'GBPJPY1440', 
    #'GBPCAD1440',
    #'GBPAUD1440',
    #'EURJPY1440',
    #'EURCAD1440', 
    #'EURAUD1440', 
    
        #'EURNZD1440',
                  # 'AUDJPY1440',
    #'AUDJPY1440', 
    #'NZDJPY1440',
    #'AUDCAD1440',
    #'NZDCAD1440', 
                #'AUDNZD1440'
                ]

In [92]:

# read data frame from excel
original_data = pd.read_excel('files/combine_data_dataframe.xlsx', sheet_name=0)

print(original_data)

#loop through all currenct so as to populate model training data for each currenct and save as excel file
for x in currency_list:
    
    #copies original data so as not to mutate it
    data = original_data.copy( deep = True)
    
    next_week_data = []
    
    #picks the data for that currency and populate nextweek columns with it
    next_week_data = data[x +'_class'].to_list()
   
    #  shifts the row down by 1 step so as to have nextweek data on the same row ith this week data
   
    next_week_data.insert(0,0)
    next_week_data.pop()
    
    # creates a data frame of the nextweek data and populate it 
    next_week_data_frame = pd.DataFrame( columns = ['nextweek_class',])
    
   
    
    next_week_data_frame['nextweek_class'] = next_week_data
    
   
   
    #join the two dataframe togeter
    data = pd.concat([ next_week_data_frame  , data], axis=1, )
    
     #deletes the column 4 the column 4 is a duplicate of the index when two dataframes where concated together   
    data.drop(data.columns[1], axis=1, inplace=True)
    
    
    #deletes the first row of the column as it has invalid data for nextweek forecast
    data = data.iloc[1: , :]
    
    
    
    
    
    
    

    
    
    #data for each currency is exported to different excel files
    
    data.to_excel("files/currency_training_data/" + x.replace('10080','') + "_combine_data_dataframe.xlsx") 
    
    print(x) 
data.describe()

      Unnamed: 0 date_start  GBPUSD1440_volume  GBPUSD1440_class  \
0              0 1993-05-12               2781                -4
1              1 1993-05-13               2571               -16
2              2 1993-05-14               2711                16
3              3 1993-05-17               2921                -1
4              4 1993-05-18               2711                 1
...          ...        ...                ...               ...
7305        7305 2021-09-21              80175                 3
7306        7306 2021-09-22              87955                -6
7307        7307 2021-09-23              89935                24
7308        7308 2021-09-24              65760                -9
7309        7309 2021-09-27                  4                -6

      GBPUSD1440_day
0                  3
1                  4
2                  5
3                  1
4                  2
...              ...
7305               2
7306               3
7307               4
7308               5
7309               1

[7310 rows x 5 columns]
GBPUSD1440

       nextweek_class  GBPUSD1440_volume  GBPUSD1440_class  GBPUSD1440_day
count     7309.000000        7309.000000       7309.000000     7309.000000
mean         0.335614       41084.623341          0.335340        2.998769
std         12.478749       45747.523685         12.478866        1.414358
min        -36.000000           4.000000        -36.000000        1.000000
25%         -8.000000        7424.000000         -8.000000        2.000000
50%          1.000000       12990.000000          1.000000        3.000000
75%          9.000000       69909.000000          9.000000        4.000000
max         36.000000      358974.000000         36.000000        5.000000