In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np


currency_list = [
#                  'USDCHF10080',                 
              #'GBPUSD10080',
                  #'EURUSD10080',
    #'USDJPY10080', 
    #'USDCAD10080', 
    #'AUDUSD10080',
    #'NZDUSD10080',
                  #'GBPCHF10080', 
    #'EURCHF10080', 
    #'CHFJPY10080',
    #'CADCHF10080', 
    #'AUDCHF10080', 
    #'NZDCHF10080', 
    'EURGBP10080',
           #     'GBPJPY10080', 
    #'GBPCAD10080',
    #'GBPAUD10080',
    #'EURJPY10080',
    #'EURCAD10080', 
    #'EURAUD10080', 
    
        #'EURNZD10080',
                  # 'AUDJPY10080',
    #'AUDJPY10080', 
    #'NZDJPY10080',
    #'AUDCAD10080',
    #'NZDCAD10080', 
                #'AUDNZD10080'
                ]

In [24]:

# read data frame from excel
original_data = pd.read_excel('files/combine_data_dataframe.xlsx', sheet_name=0)

#loop through all currenct so as to populate model training data for each currenct and save as excel file
for x in currency_list:
    
    #copies original data so as not to mutate it
    data = original_data.copy( deep = True)
    
    next_week_data = []
    
    #picks the data for that currency and populate nextweek columns with it
    next_week_data = data[x +'_class'].to_list()
   
    #  shifts the row down by 1 step so as to have nextweek data on the same row ith this week data
   
    next_week_data.insert(0,0)
    next_week_data.pop()
    
    # creates a data frame of the nextweek data and populate it 
    next_week_data_frame = pd.DataFrame( columns = ['nextweek_class',])
    
   
    
    next_week_data_frame['nextweek_class'] = next_week_data
    
   
   
    #join the two dataframe togeter
    data = pd.concat([ next_week_data_frame  , data], axis=1, )
    
     #deletes the column 4 the column 4 is a duplicate of the index when two dataframes where concated together   
    data.drop(data.columns[1], axis=1, inplace=True)
    
    
    #deletes the first row of the column as it has invalid data for nextweek forecast
    data = data.iloc[1: , :]
    
    
    
    
    
    
    

    
    
    #data for each currency is exported to different excel files
    
    data.to_excel("files/currency_training_data/" + x.replace('10080','') + "_combine_data_dataframe.xlsx") 
    
    print(x) 
data.describe()

EURGBP10080

,nextweek_class,EURGBP10080_volume,EURGBP10080_class,EURCAD10080_volume,EURCAD10080_class
count,1112.000000,1.112000e+03,1112.000000,1.112000e+03,1112.000000
mean,0.347122,2.321197e+05,0.337230,2.955198e+05,0.466727
std,12.535961,2.199782e+05,12.533467,2.864700e+05,16.556392
min,-30.000000,1.052300e+04,-30.000000,5.340000e+02,-36.000000
25%,-9.000000,4.008675e+04,-9.000000,4.154050e+04,-12.000000
50%,1.000000,2.056285e+05,1.000000,2.740675e+05,1.000000
75%,9.000000,3.358610e+05,9.000000,4.422025e+05,12.000000
max,36.000000,1.019557e+06,36.000000,1.704362e+06,36.000000